{{- if .Values.secrets.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.name }}
  namespace: {{ .Release.namespace }}
type: Opaque
stringData:
  logzio-log-shipping-token: {{ required "Logzio shipping token is required!" .Values.secrets.logzioShippingToken }}
  logzio-log-listener: {{ template "cloudwatch-fetcher.listenerHost" . }}
  {{- if .Values.secrets.awsAccessKey }}
  aws-access-key: {{ .Values.secrets.awsAccessKey }}
  aws-secret-key: {{ .Values.secrets.awsSecretKey }}
  {{- end }}
  {{- if .Values.secrets.awsRoleArn }}
  aws-role-arn: {{ .Values.secrets.awsRoleArn }}
  {{- end }}
{{- end }}