apiVersion: {{ .Values.apiVersions.configmap }}
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: {{ .Values.namespace }}
  labels:
    k8s-app: fluentd-logzio
data:
  fluent.conf: {{ toYaml .Values.configmap.fluent | indent 2 }}
  
  kubernetes.conf: {{ toYaml .Values.configmap.kubernetes | indent 2 }}

  system.conf: {{ toYaml .Values.configmap.system | indent 2 }}

  systemd.conf: {{ toYaml .Values.configmap.systemd | indent 2 }}

  kubernetes-containerd.conf: {{ toYaml .Values.configmap.kubernetesContainerd | indent 2 }}

  audit.conf: {{ toYaml .Values.configmap.audit | indent 2 }}

  audit-json.conf: {{ toYaml .Values.configmap.auditJson | indent 2 }}

{{- if .Values.configmap.extraConfig }}
{{- range $key, $value := fromYaml .Values.configmap.extraConfig }}
  {{ $key }}: |-
{{ $value | indent 4 -}}
{{- end -}}
{{- end }}