{{ if .Values.enabled }}
apiVersion: {{ .Values.apiVersions.configmap }}
kind: ConfigMap
metadata:
  name: {{ include "fluentd.fullname" . }}
  namespace: {{ .Release.Namespace}}
  labels:
    k8s-app: {{ .Values.k8sApp }}
data:
  fluent.conf: {{ include "logzio.includes" . | toYaml | indent 2 }}
  
  kubernetes.conf: {{ toYaml .Values.configmap.kubernetes | indent 2 }}

  system.conf: {{ toYaml .Values.configmap.system | indent 2 }}

  systemd.conf: {{ toYaml .Values.configmap.systemd | indent 2 }}

  audit.conf: {{ toYaml .Values.configmap.audit | indent 2 }}

  audit-json.conf: {{ toYaml .Values.configmap.auditJson | indent 2 }}

  partial-docker.conf: {{ toYaml .Values.configmap.partialDocker | indent 2 }}

  partial-containerd.conf: {{ toYaml .Values.configmap.partialContainerd | indent 2 }}

  custom-sources.conf : {{ toYaml .Values.configmap.customSources | indent 2 }}

  custom-filters.conf : {{ toYaml .Values.configmap.customFilters | indent 2 }}

  {{- if .Values.logLevelFilter }}
  log-level-filter.conf : {{ include "logzio.logLevelFilter" . | toYaml }}
  {{- end }}

  {{- if .Values.configmap.customFilterAfter }}
  custom-filters-after.conf : {{ toYaml .Values.configmap.customFilterAfter | indent 2 }}
  {{- end }}

  {{- if .Values.env_id }}
  env-id.conf : {{ toYaml .Values.configmap.envId | quote | indent 2 }}
  {{- end }}
{{- if .Values.configmap.extraConfig }}
{{- range $key, $value := fromYaml .Values.configmap.extraConfig }}
  {{ $key }}: |-
{{ $value | indent 4 -}}
{{- end -}}
{{- end }}
{{ end }}
