{{ if .Values.enabled }}
{{- if .Values.isRBAC }}
apiVersion: {{ .Values.apiVersions.serviceAccount }}
kind: ServiceAccount
metadata:
  name: {{ template "fluentd.serviceAccount" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
{{ end }}