{{- if .Values.isRBAC }}
apiVersion: {{ .Values.apiVersions.serviceAccount }}
kind: ServiceAccount
metadata:
  name: {{ include "fluentd.fullname" . }}
  namespace: {{ .Values.namespace }}
{{- end }}
