{{- if .Values.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "obi.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "obi.labels" . | nindent 4 }}
data:
  config.yml: |
{{ include "obi.config" . | indent 4 }}
{{- end }}

