image:
  repository: logzio/logzio-api-fetcher
  tag: 0.2.0
  pullPolicy: IfNotPresent

# Custom configuration section for logzio-api-fetcher
config: |
  # Please provide your configuration here
  logzio:
    url: "https://listener.logz.io:8071"
    token: "your-logzio-token"
  
  apis:
    - name: my api test
      type: general
      url: https://first/request/url
      additional_fields:
        type: test_api
      next_url: https://url/for/any/request/after/first/?since={res.createdDate}

    - name: cloudflare test
      type: cloudflare
      cloudflare_account_id: <<CLOUDFLARE_ACCOUNT_ID>>
      cloudflare_bearer_token: <<CLOUDFLARE_BEARER_TOKEN>>
      url: https://api.cloudflare.com/client/v4/accounts/{account_id}/alerting/v3/history
      next_url: https://api.cloudflare.com/client/v4/accounts/{account_id}/alerting/v3/history?since={res.result.[0].sent}
      days_back_fetch: 7
      scrape_interval: 5
      additional_fields:
        type: cloudflare


persistentVolume:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: 1Gi
  storageClass: default