apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "trivy-to-logzio.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    k8s-app: {{ include "trivy-to-logzio.fullname" . }}
spec:
  selector:
    matchLabels:
      k8s-app: {{ include "trivy-to-logzio.fullname" . }}
  template:
    metadata:
      labels:
        k8s-app: {{ include "trivy-to-logzio.fullname" . }}
    spec:
      serviceAccount: {{ template "trivy-to-logzio.serviceAccount" . }}
      serviceAccountName: {{ template "trivy-to-logzio.serviceAccount" . }}
      containers:
      - name: trivy-to-logzio
        image: "{{ .Values.image }}:{{ .Values.imageTag }}"
        env:
        - name: LOGZIO_LOG_SHIPPING_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secrets.name }}
              key: logzio-log-shipping-token
        - name: LOGZIO_LOG_LISTENER
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secrets.name }}
              key: logzio-log-listener
        - name: ENV_ID
          value: {{ .Values.env_id | quote }}
        - name: SCHEDULE
          value: {{ .Values.schedule }}
        - name: LOG_LEVEL
          value: {{ .Values.scriptLogLevel }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}