
{{ if .Values.enabled}}
{{- if .Values.secrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.name }}
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  env-id: {{.Values.secrets.env_id | quote}}
  log-type: {{ .Values.secrets.logType}}
  logzio-listener-region: {{ .Values.secrets.LogzioRegion}}
  {{ if .Values.secrets.logzioLogsToken}}
  logzio-logs-token: {{ .Values.secrets.logzioLogsToken }}
  {{ end }}
  {{ if .Values.secrets.customEndpoint}}
  custom-endpoint: {{ .Values.secrets.customEndpoint}}
  {{ end }}
{{- end }}
{{ end }}
