{{- if .Values.managedServiceAccount }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "opentelemetry-collector.clusterRoleName" . }}
  labels:
  {{- include "opentelemetry-collector.labels" . | nindent 4 }}
  {{- with .Values.clusterRole.clusterRoleBinding.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
roleRef:
  kind: ClusterRole
  name: {{ include "opentelemetry-collector.clusterRoleName" . }}
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: {{ include "opentelemetry-collector.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end -}}
