
{{- if .Values.secrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opentelemetry-collector.labels" . | nindent 4 }}
type: Opaque
stringData:
{{- if .Values.opencost.enabled -}}
  opencost-duplicates: container_memory_usage_bytes|container_fs_limit_bytes|container_fs_usage_bytes|container_memory_working_set_bytes|container_network_receive_bytes_total|container_network_transmit_bytes_total|container_cpu_usage_seconds_total|container_cpu_cfs_periods_total|container_cpu_cfs_throttled_periods_total|kube_deployment_spec_replicas|kube_deployment_status_replicas_available|kube_job_status_failed|kube_namespace_annotations|kube_namespace_labels|kube_node_labels|kube_node_status_allocatable|kube_node_status_allocatable_cpu_cores|kube_node_status_allocatable_memory_bytes|kube_node_status_capacity|kube_node_status_capacity_cpu_cores|kube_node_status_capacity_memory_bytes|kube_node_status_condition|kube_persistentvolume_capacity_bytes|kube_persistentvolume_status_phase|kube_persistentvolumeclaim_info|kube_persistentvolumeclaim_resource_requests_storage_bytes|kube_pod_annotations|kube_pod_container_resource_limits|kube_pod_container_resource_limits_cpu_cores|kube_pod_container_resource_limits_memory_bytes|kube_pod_container_resource_requests|kube_pod_container_status_restarts_total|kube_pod_container_status_running|kube_pod_container_status_terminated_reason|kube_pod_labels|kube_pod_owner|kube_pod_status_phase|kube_replicaset_owner|node_cpu_seconds_total|node_disk_reads_completed|node_disk_reads_completed_total|node_disk_writes_completed|node_disk_writes_completed_total|node_filesystem_device_error|node_memory_Buffers_bytes|node_memory_Cached_bytes|node_memory_MemAvailable_bytes|node_memory_MemFree_bytes|node_memory_MemTotal_bytes|node_network_transmit_bytes_total|
{{- end }}  
  env_id: {{.Values.global.env_id | quote }}
{{- if .Values.metrics.enabled }}
  logzio-metrics-shipping-token: {{ .Values.logzioMetricsToken | default .Values.global.logzioMetricsToken }}
  {{ if .Values.k8sObjectsConfig.enabled }}
  logzio-k8s-objects-logs-token: {{ .Values.logzioLogsToken | default .Values.global.logzioLogsToken }}
  {{ end }}    
{{- end }}
{{- if or .Values.traces.enabled .Values.k8sObjectsConfig.enabled }}
  logzio-listener-region: {{ .Values.global.logzioRegion }}
{{- end }}
{{- if or (eq .Values.metrics.enabled true) (eq .Values.spm.enabled true) }}
  logzio-metrics-listener: {{ template "metrics-collector.listenerAddress" . }}
{{- end }}
{{- if .Values.traces.enabled }}
  logzio-traces-shipping-token: {{ .Values.logzioTracesToken | default .Values.global.logzioTracesToken }}
  {{ if .Values.global.customTracesEndpoint }}
  custom-tracing-endpoint: {{ template "traces-collector.listenerAddress" . }}
  {{ end }}
  sampling-latency: {{ .Values.secrets.SamplingLatency | quote }}
  sampling-probability: {{ .Values.secrets.SamplingProbability | quote}}
{{ if .Values.spm.enabled }}
  logzio-spm-shipping-token: {{ .Values.logzioSpmToken | default .Values.global.logzioSpmToken }}
{{ end }}
{{- end }}
{{- if .Values.global.customLogsEndpoint }}
  custom-logs-endpoint: {{ template "logs-collector.listenerAddress" . }}
{{- end }}
{{- if .Values.secrets.windowsNodeUsername }}
{{- if .Values.secrets.windowsNodePassword }}
---
apiVersion: v1
kind: Secret
metadata:
  name: logzio-windows-exporter-installer-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opentelemetry-collector.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  username: {{.Values.secrets.windowsNodeUsername}}
  password: {{.Values.secrets.windowsNodePassword}}
{{- end }}
{{- end }}
{{- end }}
