trivy-operator:
  trivy:
    ignoreUnfixed: false
  operator:
    configAuditScannerEnabled: false
    rbacAssessmentScannerEnabled: false
    infraAssessmentScannerEnabled: false
    clusterComplianceEnabled: false

nameOverride: ""
fullnameOverride: ""
schedule: "07:00"
image: logzio/trivy-to-logzio
imageTag: 0.2.0
env_id: ""
terminationGracePeriodSeconds: 30
serviceAccount:
  create: true
  name: ""
secrets:
  enabled: true
  name: "logzio-logs-secret-trivy"
  logzioShippingToken: ""
  logzioListener: ""
scriptLogLevel: INFO