apiVersion: v2
name: logzio-monitoring
description: logzio-monitoring allows you to ship logs, metrics and traces from your Kubernetes cluster using the OpenTelemetry collector for metrics and traces, and Fluentd for logs.
type: application
version: 0.0.1

sources:
  - https://github.com/logzio/logzio-helm
dependencies:
  - name: logzio-fluentd
    version: "0.3.0"
    repository: "https://logzio.github.io/logzio-helm/"
    condition: logs.enabled
  - name: logzio-k8s-telemetry
    version: "0.0.1"
    repository: "https://logzio.github.io/logzio-helm/"
    condition: metricsOrTraces.enabled

maintainers:
- name: tamirmich
  email: tamir.michaeli@logz.io
- name: miriig
  email: miri.ignatiev@logz.io
