apiVersion: v2
name: logzio-monitoring
description: logzio-monitoring allows you to ship logs, metrics, traces and security reports from your Kubernetes cluster using the OpenTelemetry collector for metrics and traces, Fluentd for logs, and Trivy for security reports.
type: application
version: 6.2.6



sources:
  - https://github.com/logzio/logzio-helm
dependencies:
  - name: logzio-fluentd
    version: "0.30.6"
    repository: "https://logzio.github.io/logzio-helm/"
    condition: logs.enabled
  - name: logzio-k8s-telemetry
    version: "4.3.1"
    repository: "https://logzio.github.io/logzio-helm/"
    condition: metricsOrTraces.enabled
  - name: logzio-trivy
    version: "0.3.6"
    repository: "https://logzio.github.io/logzio-helm/"
    condition: securityReport.enabled
  - name: opencost
    version: "1.3.0"
    repository: "https://opencost.github.io/opencost-helm-chart"
    condition: finops.enabled
  - name: logzio-k8s-events
    version: "0.0.8"
    repository: "https://logzio.github.io/logzio-helm/"
    condition: deployEvents.enabled
  - name: logzio-logs-collector
    version: "1.1.0"
    repository: "https://logzio.github.io/logzio-helm/"
    condition: logs.enabled
maintainers:
- name: yotamloe
  email: yotam.loewenbach@logz.io
- name: ralongit
  email: raul.gurshumo@logz.io
