name: Lint and Test Charts

on: pull_request

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.0

      - name: helm add prometheus-community
        run: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts

      - name: helm add kube-state-metrics
        run: helm repo add kube-state-metrics https://kubernetes.github.io/kube-state-metrics

      - name: helm repo update
        run: helm repo update

      - name: Run chart-testing (lint)
        run: ct lint --config ./ct/ct-lint.yml

      - name: Create kind cluster
        uses: helm/kind-action@v1.0.0

      - name: Run chart-testing-otel
        run: ct install --config ./ct/ct-otel.yml

      - name: Run chart-testing-filebeat
        run: ct install --config ./ct/ct-filebeat.yml

      - name: Run chart-testing-tracing
        run: ct install --config ./ct/ct-tracing.yml