{{- if .Values.managedServiceAccount }}
apiVersion: {{ .Values.apiVersions.clusterRoleBinding }}
kind: ClusterRoleBinding
metadata:
  name: filebeat
subjects:
- kind: ServiceAccount
  name: {{ template "filebeat.serviceAccount" . }}
  namespace: {{ template "filebeat.namespace" . }}
roleRef:
  kind: ClusterRole
  name: filebeat
  apiGroup: rbac.authorization.k8s.io
{{- end -}}